<div class="row">
  <div class="col-md-4 offset-md-4">
  <%= link_to sanitize("&larr; Back to product"), admin_products_path %>
    <div class="card mt-2">
   
    <%= render "form", product: @product %>
  
    </div>
  <div>
</div>