
  <div id="products" class="row row-cols-1 row-cols-md-4 g-4">
    <% @products.each do |product| %>
      <div class="col">
        <div class="card shadow-sm h-100">
          <%= render product %>
        </div>
      </div>
    <% end %>
  </div>
