
<div id="products" class="row row-cols-1 row-cols-md-4 g-4">
  <% @products.each do |product| %>
    <div class="col">
      <div class="card shadow-sm">
      <% if current_user %>
        <%= render product, product: product,like_status: current_user.liked?(product)  %>
      <% else %>
        <%= render product, product: product %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>