<div class="row">
  <div class="col-md-4 offset-md-4">
    <%= link_to sanitize("&larr; Back to products"), root_path %>
    <div class="card mt-2">
      <%= render @product %>
    </div>
  <div>
</div>