<footer class="footer mt-4 py-3 bg-dark fixed-bottom">
  <div class="container-fluid">
  <%=link_to "https://github1s.com/Tepepeka/meow_wars" do %>
    <i class="fa-brands fa-github text-primary">Github</i>
  <%end%>
  </div>
</footer>